<div id="overlay"></div>
<div id="nav" class="xl">
  <div class="box">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <!-- <div class='navbar_collapse_box'> -->
        <div class="collapse navbar-collapse" id="bsNavbarCollapse">
          <ul class="nav navbar-nav clearfix">
            <li>
              <a href="./index.html" class="nav_href" data-translate="nav.Home"
                >首页<span class="sr-only">(current)</span></a
              >
            </li>
            <li class="">
              <a href="./about.html" class="nav_href" data-translate="nav.About"
                >关于我们 <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="">
              <a
                href="./train.html"
                class="nav_href"
                data-translate="nav.Training"
                >研修培训 <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="">
              <a
                href="./reception.html"
                class="nav_href"
                data-translate="nav.OfficialVisit"
                >公务接待 <span class="sr-only">(current)</span></a
              >
            </li>
            <li>
              <a
                href="./friendshipSchool.html"
                class="nav_href"
                data-translate="nav.SchoolGroups"
                >友校往来</a
              >
            </li>
            <li>
              <a
                href="./studyAbroad.html"
                class="nav_href"
                data-translate="nav.OverseaStudy"
                >留学监护</a
              >
            </li>
            <!-- <li class="dropdown">
              <a
                href="./studyAbroad.html"
                class="dropdown-toggle nav_href"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                ><span  data-translate="nav.OverseaStudy">留学监护</span> <span class="caret"></span
              ></a>
              <ul class="dropdown-menu">
                <li><a  class='nav_href dropdown_href' href="#">中小学留学</a></li>
                <li><a  class='nav_href dropdown_href' href="#">留学生监护</a></li>
                <li><a  class='nav_href dropdown_href' href="#">大学申请</a></li>
                <li><a  class='nav_href dropdown_href' href="#">留学生专栏</a></li>
                <li><a  class='nav_href dropdown_href' href="#">家长专栏</a></li>
                <li><a  class='nav_href dropdown_href' href="#">阳光学子展示</a></li>
              </ul>
            </li> -->
            <li>
              <a
                href="./communication.html"
                class="nav_href"
                data-translate="nav.Cooperation"
                >合作交流</a
              >
            </li>
            <li>
              <a
                href="./resultsDisplay.html"
                class="nav_href"
                data-translate="nav.Achievements"
                >成果展示</a
              >
            </li>
            <li>
              <a
                href="./contactUs.html"
                class="nav_href"
                data-translate="nav.Contact"
                >联系我们</a
              >
            </li>
            <div class="fill_nav"></div>
          </ul>

          <div class="lan">
            <div>
              <button
                class="btn btn-default toggle_language nav_language"
                data-language="zh"
                type="submit"
              >
                简体中文
              </button>
            </div>
            <div class="active">
              <button
                type="button"
                class="btn btn-primary toggle_language nav_language"
                data-language="en"
              >
                English
              </button>
            </div>
          </div>

          <!-- <div class='fill_blcok'></div> -->
          <!-- </div> -->
        </div>

        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  </div>
</div>
