
<div class="footer xl">
  <div class="box">
    <div class="clearfix">
      <div class="guide fl clearfix">
        <span data-translate="footer.about" data-href="./about.html">关于我们</span>
        <span data-translate="footer.demo" data-href="./resultsDisplay.html">成果展示</span>
        <span data-translate="footer.concat" data-href="./contactUs.html">联系我们</span>
      </div>
      <div class="fr bq">
        <span class="fl" data-translate="footer.copyright"
          >版权所有：阳光国际教育服务中心 Copyright © 2012-2020</span
        >
      </div>
    </div>
  </div>
</div>
