<div class='fill_header xl'></div>
<div id="header" class="xl">
  <div class="box">
    <div class="fl ">
      <a href="./index.html"
        >
        <!-- width="316"
        height="62" -->
        <img
          class="logo fl lazyload"
          src="~@images/common/placeholder.png"
          data-src="~@images/header/logo@2x.png"
      /></a>
    </div>
    <div class="fr">
      <div class="fold_btn" id="foldBtn">
        <div class="icon_fold"></div>
      </div>
      <div class="translate">
        <div class="box">
          <span class="fl toggle_language active" data-language="zh"
            >简体中文</span
          >
          <span class="fl toggle_language" data-language="en">English</span>
        </div>
      </div>
    </div>
  </div>
</div>
